
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(86, 175, 86);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 180px;
  
  
}
.Contenedor{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 
  margin: 10px 30px;
}
.hijo{
  flex-grow: 1;
  margin: 5px 5px;  

}

.hijo img{
 height: 160px;
 
}
.carrito{
  height: 30px;
 
  width: auto;
 line-height:  auto;
}
.card-contenido{
  
  display: flex;
  justify-content: space-between;
  
}

.btna{
  margin-top: 15px;
  margin-left: 70px;
}

.contenedor{
  margin:20px 30px;
 padding: 10px;
}
.contendor-principal{
  align-items: center;
}
