
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornsilk;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 150px;
  
}

.carrito{
  height: 30px;
 
  background-color: azure;
  width: auto;
 line-height:  auto;
}
.card-contenido{
  
  display: flex;
  justify-content: space-between;
  
}

.contenedor{
  margin:20px 30px;
 padding: 10px;
}
